@import "__password-recovery-block";
@import "__password-recovery-button";
@import "__sending-link-again-box";
@import "__sending-link-to-email-box";

.confirmation-page {
	display: flex;
	align-items: center;
	justify-content: center;
}