.change-password-page__change-password-block {
	width: 530px;
	display: flex;
	align-items: center;
	flex-direction: column;

	> h1 {
		padding: 150px 0 8px;
		font-weight: 600;
	}

	> .change-password-frame__input {
		width: 100%;
		padding: 20px 0 20px 34px;
	}

	> .change-password-frame__input_password {
		margin-bottom: 35px;
	}

}