@import "src/variables";

.change-password-frame__change-password-box {
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 30px;

	> p {
		font-size: 14px;
		color: $text-secondary;
		font-weight: 300;
	}
}