@import "__change-password-block";
@import "__change-password-button";
@import "__remember-password-box";
@import "__write-new-password-box";

.change-password-page {
	display: flex;
	align-items: center;
	justify-content: center;
}