.register-page {
    display: flex;
    height: 100vh;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

.form-block {
    background-color: #fff;
}

//.background-photo-reg {
//    height: 100vh;
//    background: no-repeat url(components/background.jpg);
//    background-size: cover;
//}

.instruction {
    color: rgb(180, 184, 193);
    text-align: left;
}

.page-controllers {
    width: 400px;
}

.register-button-confirm {
    width: 400px;
}

.send-code {
    a {
        text-decoration: none;
    }
}

.checkBoxes {
    position: relative;
    left: 6px;
}


