.register-page__register-block {
	width: 530px;
	display: flex;
	align-items: center;
	flex-direction: column;

	> h1 {
		padding: 150px 0 72px;
		font-weight: 600;
	}

	> .register-frame__input {
		width: 100%;
		padding: 20px 0 20px 34px;
	}

	> .register-frame__input_email {
		margin-bottom: 20px;
	}

	> .register-frame__input_password {
		margin-bottom: 20px;
	}
}