.login-page {
    display: flex;
    height: 100vh;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}

.box-login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    height: 600px;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    border-width: 1px;
    background: white;
    color: black;
    box-shadow: 0.1px 0.1px 3px #ccc;
}

.login {
    position: relative;
    top: 50px;
    text-align: center;
}

.login-inputs {
    font-size: 15px;
    margin-bottom: 10px;
    position: relative;
    top: 80px;
    width: 100%;
    max-width: 400px;
    height: 60px;
    padding: 25px;
    border-radius: 8px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.login-inputs:active {
    transform: scale(0.95);
}

.login-inputs:focus {
    border: 1.5px solid #ED760E;
}

.btn-login {
    position: relative;
    top: 85px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 30px;
    min-width: 400px;
    height: 50px;
    padding: 8px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 20px -20px;
    cursor: pointer;
    color: white;
    background-color: #ED760E;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

.btn-login:hover {
    background-color: #FFCA86;
    box-shadow: 0 0 20px -18px;
}

.btn-login:active {
    transform: scale(0.95);
}

.btn-question-one {
    position: relative;
    text-align: left;
    top: 80px;
    color: #ED760E;
    text-decoration: none;
}

.btn-question-two {
    position: relative;
    text-align: left;
    top: 80px;
    color: #ED760E;
    text-decoration: none;
}