
.login-page {
    display: flex;
    height: 100vh;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}

.box-login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 530px;
    height: 750px;
    margin: auto;
    padding: 40px;
    background: white;
    color: rgba(0, 0, 0, 0.6);
    border: solid 2px;
}

.login {
    font-weight: 600;
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 32px;
}

.login-inputs {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 25px;
    position: relative;
    top: 120px;
    width: 100%;
    max-width: 400px;
    height: 62px;
    padding: 25px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    outline: none;
    transition: all 0.3s;
}

.login-inputs:hover {
    border: 2px solid rgb(82, 0, 89);
}

.login-inputs:active {
    transform: scale(0.9);
}

.login-inputs:focus {
    border: 2px solid #520059;
}

.button-login {
    font-weight: 400;
    position: relative;
    top: 115px;
    margin-top: 10px;
    margin-bottom: 30px;
    min-width: 400px;
    height: 62px;
    padding: 8px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgba(82, 0, 89, 0.8);
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
}

.button-login:hover {
    background-color: rgb(85, 0, 94);
    box-shadow: 0 0 20px -18px;
}

.button-login:active {
    transform: scale(0.95);
}

.not-registered-yet {
    font-weight: 300;
    font-size: 14px;
    position: relative;
    text-align: left;
    left: 80px;
    top: 110px;
    color: rgba(192, 192, 192, 0.9);
    text-decoration: none;
}

.button-forgot-password {
    font-weight: 300;
    font-size: 14px;
    position: relative;
    text-align: left;
    top: 105px;
    left: 20px;
    color: rgba(82, 0, 89, 0.7);
    text-decoration: none;
}

.link-to-registration {
    font-weight: 300;
    position: relative;
    top: 85px;
    left: 65px;
    text-decoration: none;
    color: rgba(82, 0, 89, 0.7);
    font-size: 14px;
}