@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Black.ttf) format('ttf');
}

.card {
    display: flex;
    padding: 10vh;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;
}

.card-header {
    position: relative;
    left: -40px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 40px;
    width: 100%;
    padding: 0.9375rem 1.25rem;
    text-align: left;
    .card-title {
    margin-bottom: 0;
    }
}

.card-title {
    font-weight: bold;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    width: 100%;
}

.models-list {
    background-color: #fff;
}

h5 {
    font-weight: normal;
}

.container {
    position: relative;
    left: -20px;
    width: 1480px;
    margin-top: 15px;
}

.new-selection a {
    color: white;
    text-decoration: none
}
