@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Black.ttf) format('ttf');
}

.card {
    display: flex;
    padding: 8vh;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;
}

.card-header {
    position: relative;
    left: -25px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 35px;
    width: 100%;
    padding: 0.9rem 1.25rem;
    text-align: left;
    .card-title {
    margin-bottom: 0;
    }
}

.card-title {
    font-weight: bold;
}

.card-body {
    flex: 1 1 auto;
    padding: 0.4rem;
    width: 100%;
}

.box {
    background-color: #fff;

}

h5 {
    font-weight: normal;
}

.container {
    position: relative;
    left: -5px;
    width: 1480px;
    margin-top: 15px;
}

.new-selection a {
    color: white;
    text-decoration: none
}

.pagination {
    align-items: center;
}

.schematics-count {
    color: rgb(156, 156, 159);
    position: relative;
    top: 50px;
    left: 30px;
}

.filter-inside {
    align-items: end;
}

.filter-button {
    position: relative;
    left: 1605px;
}