@import "colors";

$primary: #520059;

$text-secondary: $grey400;

$content-primary-frame: $grey800;
$input_border: $grey800;

$primary-button_content: $white;
$primary-button_background: $primary;

$secondary-button_content: $primary;
