@import "colors";
@import "./styles/ui/ui.scss";
@import "./styles/login-page/login-page";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $grey750;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



